:root {
  --heading--color: rgb(238, 59, 238);
  --paragraph-color: white;
  --background-color: rgb(40, 39, 48);
  --border-color: white;
  --code-gradient-light: rgb(164, 40, 164);
  --code-gradient-dark: rgb(93, 17, 93);
}

* {
  box-sizing: border-box;
}
header, body {
  background-color: var(--background-color);
}
header {
  text-align: center;
}
header h1 {
  color: var(--heading--color);
}
header p {
  color: var(--paragraph-color);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
}

.css-item {
  /* each css-item is a flexbox too */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
  flex: 1 1 30%;
  border-style: dashed;
  border-color: var(--border-color);
}
.css-item h2 {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 10px;
  width: 95%;
  position: relative;
  margin-top: -30px;
  text-align: center;
  background-color: var(--background-color);
  color: var(--heading--color);
}

.css-item .description {
  font-size: 90%;
  color: var(--heading--color);
}
.css-item .item-content {
  position: relative;
  width: 95%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px){
    .css-item {
    width: 50%;
  }
}

@media screen and (max-width: 768px){
    .css-item {
    width: 100%;
  }
}

.code {
  font-family: monospace;
  color: var(--paragraph-color);
  background-image: linear-gradient(
    var(--code-gradient-dark),
    var(--code-gradient-light)
  );
  padding: 5px;
  user-select: all;
}

footer {
  text-align: center;
}
footer h3 {
  color: var(--heading--color);
}