:root {
  --heading--color: rgb(238, 59, 238);
  --paragraph-color: white;
  --background-color: rgb(40, 39, 48);
  --border-color: white;
}

header, body {
  background-color: var(--background-color);
}
header {
  text-align: center;
}
header h1 {
  color: var(--heading--color);
}
header p {
  color: var(--paragraph-color);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
}
.css-item {
  display: inline;
  width: 30%;
}
.css-item h2 {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 10px;
}
.css-item .description {
  font-size: 90%;
}
.css-item .item-content {
  border-style: dashed;
  border-color: var(--border-color);
  padding: 10px;

}
.css-item .code {
  font-family: monospace;
}

@media screen and (max-width: 992px){
    .css-item {
    width: 50%;
  }
}

@media screen and (max-width: 768px){
    .css-item {
    width: 100%;
  }
}

.css-item h2 {
  color: var(--heading--color);
}
.css-item .description {
  color: var(--heading--color);
}
.code p {
  color: var(--paragraph-color);
}

footer {
  text-align: center;
}
footer h3 {
  color: var(--heading--color);
}