:root {
  --heading--color: rgb(238, 59, 238);
  --paragraph-color: white;
  --background-color: rgb(40, 39, 48);
  --border-color: white;
}

header, body {
  background-color: var(--background-color);
}
header {
  text-align: center;
}
header h1 {
  color: var(--heading--color);
}
header p {
  color: var(--paragraph-color);
}

.css-item h2 {
  color: var(--heading--color);
}
.css-item .description {
  color: var(--heading--color);
}
.code p {
  color: var(--paragraph-color);
}

footer {
  text-align: center;
}
footer h3 {
  color: var(--heading--color);
}